.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;

  display: grid;
  align-content: center;
  justify-content: center;
  grid-row-gap: 2rem;
  justify-items: center;

  padding: 5rem;

  @media only screen and (max-width: $bp-medium) {
    grid-column: full-start / full-end;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    // grid-template-rows: repeat(3, 1fr);
    align-items: center;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content;
    }

    img {
      width: 9rem;
      border-radius: 50%;
      // justify-self: end;
    }
  }

  &__details {
    justify-self: start;
  }

  &__sold {
    font-size: 1.4rem;
    color: $color-grey-light-2;
  }
}
